.optionWrapper {
  position: relative;
}
.optionWrapper button {
  position: absolute;
  z-index: 999;
  top: 10px;
  color: red;
}
form {
  width: 700px;
  padding: 20px;
}
.optionForm {
  width: 100%;
}
.delete {
  position: absolute;
  color: red;
}
.optionWrapper {
  position: relative;
}
.subQuestion{
  padding: 25px !important;
  color: white !important;
}
